@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");
main {
  max-width: 500px;
  margin-inline: auto;
}
img {
  border-radius: 15px;
}
header {
  text-align: center;
}
h2 {
  display: inline;
}
header h3 {
  background-color: #fdfbf1;
  padding: 0.5em;
  border-top: 2px solid yellow;
  font-weight: 200;
}
.first-div {
  font-family: "Domine", serif;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.first-span {
  color: #b5460f;
}
.second-span {
  text-decoration: underline;
  color: #107777;
}
.image-subtitle {
  color: #999999;
  text-align: center;
  margin-top: 5px;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.span-1 {
  font-weight: bold;
}
hr {
  color: #107777;
}
footer {
  text-align: center;
}
.focaccia {
  padding-top: 10px;
  border-top: 2px solid lightblue;
}
.focaccia-2 {
  font-weight: bold;
  padding-top: 10px;
  border-top: 2px solid lightblue;
}
.first-p {
  font-size: 0.8em;
}
.ingredients {
  font-family: "Domine", serif;
}
.method {
  font-family: "Domine", serif;
}
